.black
   background-color: white
   margin-top: 4%

.om-bilde
   height: auto
   width: 100%

.tomt-head
   text-align: center
   margin-top: 30px
<<<<<<< HEAD

.imgfix
   width: 100%
   margin-top: 30px
=======
   border-bottom: 1px solid #e2e2e2
	
.tomrom
	margin-top: 4%

.skrift
	text-align: justify
>>>>>>> cc55967ad7a1df14138ff142cbfe1f50a33b1c99
