body
	margin: 0

#header
	background-image: url(../img/forside.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: top left
	max-width: 100vw
	height: 92.5vh
	background-repeat: no-repeat
	margin-top: -20px

#header h1
	color: #fff
	font-weight: normal
	text-align: center
	padding-top: 10%

#header p
	text-align: center
	margin-top: 3%

#header a
    color: #fff
    border: 1px solid #fff
    text-decoration: none
    padding: 15px 20px

#header a:hover
    background-color: #fff
    color: #686868
    transition: all ease-in-out 0.7s
	
.logo
    max-width: 70px
	
.navbar
	margin-bottom: 0

.breadcrumb
	background-color: #fbfbfb
   border: 1px solid #d0d0d0

.module header
	background: rgba(0, 0, 0, 0.6)

.module header h1
	text-transform: uppercase
   text-align: center