body {
  margin: 0; }

#header {
  background-image: url(../img/forside.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  max-width: 100vw;
  height: 92.5vh;
  background-repeat: no-repeat;
  margin-top: -20px; }

#header h1 {
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding-top: 10%; }

#header p {
  text-align: center;
  margin-top: 3%; }

#header a {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 15px 20px; }

#header a:hover {
  background-color: #c66154;
  transition: all ease-in-out 0.7s; }

.logo {
  max-width: 70px; }

.navbar {
  margin-bottom: 0; }

.breadcrumb {
  background-color: #fbfbfb;
    background-color-border: 1px solid #d0d0d0; }

.inputtext {
  width: 100px; }

.col1 {
  margin: 10px; }

.black {
  background-color: white;
  margin-top: 4%; }

.om-bilde {
  height: auto;
  width: 100%; }

.tomt-head {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid #e2e2e2; }

.tomrom {
  margin-top: 4%; }

.skrift {
  text-align: justify; }
