<<<<<<< HEAD
body {
  margin: 0; }

#header {
  background-image: url(../img/forside.jpg);
  background-size: cover;
  background-position: top left;
  max-width: 100vw;
  height: 92.5vh;
  background-repeat: no-repeat;
  margin-top: -20px; }

#header h1 {
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding-top: 10%; }

#header p {
  text-align: center;
  margin-top: 3%; }

#header a {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 15px 20px; }

#header a:hover {
  background-color: #c66154;
  transition: all ease-in-out 0.7s; }
=======
.black {
  background-color: pink; }

.om-bilde {
  height: auto;
  width: 100%; }
>>>>>>> 9e7cdb93fc9cc319b0d4f3d34464e61e365240c5
